@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

body {
  background-image: radial-gradient(
    #1e1e1e 0.5px,
    #fcfaf2 0.5px
  );
  background-size: 10px 10px;
  background-color: #fcfaf2;
  font-family: "Rubik", sans-serif;
}

.container {
  margin: 120px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #fcfaf2;
  box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.2);
  color: #1e1e1e;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}
h6,
p {
  text-align: center;
}

.btns {
  padding: 14px 24px;
  margin-bottom: 10px;
}

button {
  border-radius: 50px;
  padding: 8px 24px;
  margin-top: 10px;
  border: none;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.7;
}

.color1 {
  background-color: #ffcf00;
}
.color2 {
  background-color: #efb4d4;
}
.color3 {
  background-color: #3fcb80;
}
.form-container {
  padding: 30px;
  background-color: #fcfaf2;
  box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.user_input {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  background-color: #fcfaf2;
  border: 1px solid #1e1e1e;
  font-size: 16px;
  line-height: 20px;
}

.submit-btn {
  margin-left: 10px;
  padding: 14px 24px;
  border-radius: 50px;
  background: #1e1e1e;
  font-size: 16px;
  color: #fcfaf2;
  border: none;
  width: 150px;
}

#quoteGenerated {
  font-size: 18px;
  padding: 20px;
  background-color: #fcfaf2;
  letter-spacing: 0.05rem;
  box-shadow: 0px 8px 24px 0px rgba(30, 30, 30, 0.15);
  border-radius: 10px;
}

.hidden {
  display: none;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.blinking-text {
  animation: blink 2s infinite;
}

footer {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: -10px;
  text-align: center;
}

a {
  color: #ffcf00;
}
